*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


#homebanner{
        background-color:rgb(250, 198, 198);
        padding: 2%;
    img{
        margin-left: 47%;
    }
    a{
        text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 35px;
        text-decoration: none;
        margin-left:4%;
        color: rgb(0, 0, 0);
    }
    nav{
        text-align: center;
    }
}
body{
    background-color: rgba(241,83,86,70%);
}

#header{
    text-align: center;
        font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: normal;
        font-size: 40px;
        color: rgb(255, 255, 255);
}

#mainContent{
    display: flex;
    flex-direction: row;
    
}

h3{
    font-family: "sauna-new", sans-serif;
        font-weight: 900;
        font-style: bold;
        font-size: 35px;
        color: rgb(255, 255, 255)
}
p{
    font-family: "futura-pt", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 20px;
}
li{
    font-family: "futura-pt", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 18px;
}
#Dayone{
    margin-left: 10%;

}

img{
    border-radius: 8%;
}